<div cdkDropListGroup class="content-container">
    <div>
        <h2>To do</h2>
        <div id="todo" cdkDropList [cdkDropListData]="data.todo" class="drop-area" (cdkDropListDropped)="drop($event)">
            @for (item of data.todo; track item) {
            <div class="card" cdkDrag>
                <h2>{{item.title}}</h2>
            </div>
            }
        </div>
    </div>

    <div>
        <h2>In progress</h2>
        <div id="in-progress" cdkDropList [cdkDropListData]="data.inProgress" class="drop-area" (cdkDropListDropped)="drop($event)">
            @for (item of data.inProgress; track item) {
            <div class="card" cdkDrag>
                <h2>{{item.title}}</h2>
            </div>
            }
        </div>
    </div>

    <div>
        <h2>Await feedback</h2>
        <div id="await-feedback" cdkDropList [cdkDropListData]="data.awaitFeedback" class="drop-area" (cdkDropListDropped)="drop($event)">
            @for (item of data.awaitFeedback; track item) {
            <div class="card" cdkDrag>
                <h2>{{item.title}}</h2>
            </div>
            }
        </div>
    </div>

    <div>
        <h2>Done</h2>
        <div cdkDropList id="done" cdkDropList [cdkDropListData]="data.done" class="drop-area" (cdkDropListDropped)="drop($event)">
            @for (item of data.done; track item) {
            <div class="card" cdkDrag>
                <h2>{{item.title}}</h2>
            </div>
            }
        </div>
    </div>
</div>